img{
    position: relative;
    left: 650px;
    bottom: 120px;
    width: 600px;
    border-radius: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    letter-spacing: 2px;
    background-color: rgba(128, 128, 128, 0.26);
    border-radius: 10px;
    text-decoration: none;
}

.nav_1{
    position: relative;
    left: 100px;
    text-decoration: none;
    color: black;
    transition-property: background-color, transform;
    transition-duration: 0.5s, 1s;
    transition-timing-function: ease-in;
}

.nav_2{
    position: relative;
    left: 400px;
    text-decoration: none;
    color: black;
    transition-property: background-color, transform;
    transition-duration: 0.5s, 1s;
    transition-timing-function: ease-in;
}

.nav_3{
    position: relative;
    left: 140px;
    text-decoration: none;
    color: black;
    transition-property: background-color, transform;
    transition-duration: 0.5s, 1s;
    transition-timing-function: ease-in;
}

body{
    background-color: rgb(52, 217, 52);
}

.nav_1:hover{
    color: rgb(13, 197, 187);
    background-color: rgba(0, 0, 0, 0.336);
}

.nav_2:hover{
    color: rgb(13, 197, 187);
    background-color: rgba(0, 0, 0, 0.336);
}

.nav_3:hover{
    color: rgb(13, 197, 187);
    background-color: rgba(0, 0, 0, 0.336);
}


.sing_in{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
    left: 550px;
    top: 300px;
}

.name{
    position: relative;
    bottom: 50px;
    background-color: rgba(128, 128, 128, 0.37);
}

.pass{
    position: relative;
    bottom: 25px;
    background-color: rgba(128, 128, 128, 0.37);
}

.mail{
    background-color: rgba(128, 128, 128, 0.37);
}

button{
    position: relative;
    top: 350px;
    left: 617px;
}

.face{
    position: relative;
    top: 200px;
    right: 300px;
    width: 100px;
    height: 100px;
}