

.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "sub info";
}

.header{
    grid-area: header;
    margin-left: 500px;
    background-color: white;

}

.sub{
    grid-area: sub;
    margin-left: 400px;
    background-color: teal;
}

.info{
    grid-area: info;
    margin-right: 300px;
    background-color: rgb(1, 137, 137);
}

button{
    margin-left: 10px;
    background-color: lightgreen;
    border-width: 1px;
    border-radius: 2px;
    width: 200px;
    height: 40px;
    position: relative;
    bottom: 40px;
}

.community{
    color: blue;
}

.money{
    color: green;
}

.month{
    position: relative;
    left: 60px;
    bottom: 50px;
}

.access{
    position: relative;
    bottom: 40px;
}